<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Tasks</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        <style>
            .delete {
                background-color: transparent;
                color: red;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                margin-left: 10px;
                transition: transform 0.2s ease;
            }

            .delete:hover {
                transform: scale(1.2);
                color: darkred;
            }
        </style>
    </head>
    <body>
        <div class="dash">
            <a class="back" href="{% url 'index' %}"><button class="backButton">Go To Dashboard</button></a>
        </div>
        <div class="adash">
            <a class="back" href="{% url 'yourTasks' %}"><button class="backButton">Go To Your Tasks</button></a>
        </div>
        <h1>Your Task</h1>
        <div class="taskContainer">
            <ul>
                <li class="taskItem">
                    <strong class="taskTitle"
                        >{{ tasks.title }}<a style="all: unset" class="dela" href="{% url 'delete' tasks.id %}"
                            ><button class="delete">❌</button></a
                        ></strong
                    ><br />
                    <p>{{ tasks.discription}}</p>

                    <p><strong>Due Date:</strong> {{ tasks.lastDate }}</p>
                </li>
            </ul>
        </div>
    </body>
</html>
